body {
    background-color: #09090e;
    color: #8e90ec;
    font-family: "Fira Sans", sans-serif;
    margin: 0;
}

.header {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #13131f;
    border-bottom: 2px solid #222238;
}

.hor-header {
    float: left;
}

.hor-header a {
    display: block;
    color: #aeafea;
    text-align: center;
    font-weight: 500;
    font-size: 25pt;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 2px solid #222238;
}

.hor-header a:hover:not(.active) {
    background-color: #222238;
}

.login-header {
    float: right;
}

.login-header a {
    display: block;
    color: #aeafea;
    text-align: center;
    font-weight: 500;
    font-size: 25pt;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 2px solid #222238;
}

.login-header a:hover:not(.active) {
    background-color: #222238;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    top: 62px;
    background-color: #13131f;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #aeafea;
    text-align: center;
    font-weight: 500;
    font-size: 25pt;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #222238;
    border-left: 2px solid #222238;
}

.dropdown-content a:hover {
    background-color: #222238;
}

.login-header:hover .dropdown-content {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #13131f;
    margin: 110px auto auto auto;
    padding: 5px 15px;
    border: 2px solid #222238;
    width: 700px;
}

.modal-content p {
    margin: 15px;
}

.close {
    color: #aeafea;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: block;
    font-size: 15pt;
    font-weight: 450;
}

.auth-input {
    width: 100%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    margin: 0 0 8px;
    padding: 5px;
    background-color: #323354;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: #8e90ec;
    border-radius: 1px;
}

.auth-input:focus {
    outline: none !important;
}

.settings-input {
    width: 100%;
    display: inline-block;
    border: 2px solid #8e90ec;
    box-sizing: border-box;
    margin: 0 0 8px;
    padding: 5px;
    background-color: #13131f;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: #8e90ec;
    border-radius: 1px;
}

.settings-input:focus {
    outline: none !important;
}


.remember {
    margin-left: 15px;
}

.remember-static-form {
    text-align: left;
    margin: 5px 88px 0;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #8e90ec;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    border-color: #323354;
    background-color: #323354;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #c3b3ff;
}

.custom-checkbox:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #9597ff;
}

.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}

.login-btn {
    margin: 20px 15px;
    border: 2px solid #8e90ec;
    border-radius: 2px;
    padding: 0 10px;
    background-color: #13131f;
    width: auto;
    height: 60px;
    text-align: center;
    font-size: 20pt;
    font-family: "Fira Sans", sans-serif;
    color: #8e90ec;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.3s;
}

.login-btn:hover {
    background-color: #363657;
    animation-duration: 0.3s;
    animation-name: color-change;
}

.submit-btn {
    /*margin: 20px 15px;*/
    border: 2px solid #8e90ec;
    border-radius: 2px;
    padding: 0 10px;
    background-color: #13131f;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 14pt;
    font-family: "Fira Sans", sans-serif;
    color: #8e90ec;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.3s;
}

.submit-btn:hover {
    background-color: #363657;
    animation-duration: 0.3s;
    animation-name: color-change;
}

.settings-form {
    margin-bottom: 20px;
    width: 100%;
}

.signup {
    width: 120px;
}

.signup-page {
    margin: 0 auto 20px;
    width: 800px;
    height: auto;
}

.login-page {
    margin: 110px auto 20px;
    width: 700px;
    height: auto;
}

.login-form {
    margin: 0 20px;
}

.message-page {
    margin: 110px auto 20px;
    width: 800px;
    height: auto;
}

.error-block {
    display: inline-block;
    margin: 10px 10px;
    height: auto;
    width: auto;
    padding: 5px 10px;
    font-size: 20pt;
    background-color: #361e1e;
}

.fill-in-text {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 15px 20px 15px;
}

.confirm-text {
    display: block;
    text-align: center;
    font-size: 20pt;
    width: auto;
    padding: 15px;
}

.confirm-password-text {
    display: none;
    text-align: center;
    font-size: 16pt;
    width: auto;
    padding: 15px;
}

span a {
    color: #8e90ec;
}

span a:hover {
    text-decoration: none;
    color: #aeafea;
}

h1 {
    margin: 110px auto 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40pt;
}

form h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30pt;
}

.admin-page {
    margin: 110px 10% 0;
}

.user-settings {
    margin: 10px 10% 0;
    text-align: left;
    width: 100%
}

.user-settings-image {
    border-radius: 5px;
    margin: 10px 1%;
    height: 200px;
    width: 200px;
}

.user-settings-text {
    font-size: 16pt;
    font-weight: 400;
    display: flex;
    margin-left: 0;
}

.change-form-text {
    display: none;
    margin-left: 10px;
}

.main-block {
    background-color: #13131f;
    color: #6567a8;
    font-size: 30pt;
    border: 2px solid #222238;
    font-weight: 500;
    text-align: center;
}

p {
    margin: 0 20px 10px 20px;
}

.banner-block {
    margin: 0 10% 0;
    height: 400px;
    width: auto;
}

.posts-mainpage {
    margin: 30px 10%;
}

.posts-block {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.posts-block:after {
    content: "";
    display: table;
    clear: both;
}

.post-page {
    margin: 0 10% 20px;
    height: auto;
}

.main-post-temp {
    display: flex;
    background-color: #2c2c48;
    color: #6567a8;
    border: 2px solid #464673;
    margin: 10px 1%;
    height: 170px;
    text-decoration: none;
}

.post-temp {
    display: flex;
    background-color: #2c2c48;
    color: #6567a8;
    border: 2px solid #464673;
    margin: 10px 10px 10px;
    text-decoration: none;
}

.single-post-temp {
    background-color: #2c2c48;
    color: #6567a8;
    border: 2px solid #464673;
    margin: 10px 1%;
}

.main-post-page-image {
    border-radius: 5px;
    margin: 10px 1%;
    height: 150px;
    width: 150px;
}

.post-page-image {
    border-radius: 5px;
    margin: 10px 1%;
    height: 200px;
    width: 200px;
}

.single-post-page-image {
    border-radius: 5px;
    margin: 10px 1%;
    height: 300px;
    width: 300px;
}

.post-texts {
    margin-top: 7px;
    text-align: left;
}

.post-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.main-post-excerpt {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.post-excerpt {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.post-bodytext {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

hr.post-divider {
    margin: 0 2.5% 20px;
    border: 1px solid #464673;
}

hr.settings-divider {
    border: 1px solid #464673;
    margin-right: 20px;
}

.row {
    display: flex;
    padding: 10px 10% 20px;
    overflow: hidden;
}

.text-link {
    margin-left: 5px;
    font-size: 30pt;
    font-weight: 500;
    color: #aeafea;
    text-decoration: none;
    text-transform: uppercase;
}

.podcasts {
    float: left;
    flex: 60%;
    margin-right: 20px;
}

.chart {
    float: right;
    flex: 40%;
}

.podcasts-chart-block {
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    position: fixed;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    background-color: #13131f;
    font-weight: 500;
    color: #6567a8;
    margin: 0;
    text-align: right;
    border-top: 2px solid #222238;
    border-bottom: 2px solid #222238;
}

.footer-text {
    margin-right: 15px;
}

/*-------------------------------------------------- audio player -------------------------------------------------*/
.audio-player {
    margin: 0 0 20px 10px;
    border-radius: 0 0 5px 5px;
    height: 50px;
    width: 95%;
    background: #40426b;
    box-shadow: 0 0 20px 0 #222236;
    color: white;
    font-size: 14pt;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
}

.audio-player .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #222236;
}

.audio-player .timeline .progress {
    background: #8e90ec;
    width: 0;
    height: 100%;
    transition: 0.25s;
}

.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
}

.audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid white;
}

.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}

.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
    margin-left: 2%;
}

.audio-player .controls .time > * {
    padding: 2px;
}

.audio-player .controls .name {
    margin-left: 2%;
    overflow: hidden;
}

.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}

.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    top: 15px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: white;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
}

.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: #8e90ec;
    height: 100%;
    width: 75%;
}

.audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
}