body {
    background: url("../assets/dawn-bg.png") no-repeat center center fixed;
    background-size: cover;
    color: #8e90ec;
    font-family: "Fira Sans", sans-serif;
    margin: 0;
}

.header {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #13131f;
    border-bottom: 2px solid #222238;
}

.hor-header {
    float: left;
}

.hor-header a{
    display: block;
    color: #aeafea;
    text-align: center;
    font-weight: 500;
    font-size: 25pt;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 2px solid #222238;
}

.hor-header a:hover:not(.active) {
    background-color: #222238;
}

.main-block {
    background-color: #13131f;
    color: #6567a8;
    font-size: 30pt;
    border: 2px solid #222238;
    font-weight: 500;
    text-align: center;
}

p {
    margin:0 20px;
}

.banner-block{
    margin: 110px 50px 0;
    height: 400px;
    width: auto;
}

.posts{
    margin: 30px 50px;
}

.posts-block{
    height: 600px;
    width: auto;
}

.post-page{
    margin: 110px 10% 20px;
    height: auto;
    width: auto;
    float: left;
}

.post-temp{
    border: 2px solid #464672;
    margin: 10px 1% 5px;
    height: auto;
}

.row{
    display: flex;
    padding: 10px 50px 20px;
    overflow: hidden;
}

.text-link{
    margin-left: 5px;
    font-size: 30pt;
    font-weight: 500;
    color: #aeafea;
    text-decoration: none;
    text-transform: uppercase;
}

.podcasts{
    float: left;
    flex: 60%;
    margin-right: 20px;
}

.chart{
    float: right;
    flex: 40%;
}

.podcasts-chart-block {
    height: 800px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.footer {
    width: auto;
    bottom: 0;
    background-color: #13131f;
    font-weight: 500;
    color: #6567a8;
    margin: 0;
    text-align: right;
    padding-right: 15px;
    border-top: 2px solid #222238;
    border-bottom: 2px solid #222238;
}