body {
    background-color: #323354;
    color: #8e90ec;
    font-family: "Fira Sans", sans-serif;
    margin: 0;
}

.header {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #13131f;
}

.hor-header {
    float: left;
}

.hor-header a{
    display: block;
    color: #8e90ec;
    text-align: center;
    font-weight: 500;
    font-size: 25pt;
    padding: 10px 20px;
    text-decoration: none;
}

.hor-header a:hover:not(.active) {
    background-color: #282841;
}

.banner {
    background-color: #13131f;
    color: #6567a8;
    margin: 120px 50px 0;
    height: 400px;
    width: auto;
    text-align: center;
    font-weight: 500;
}

div.column{
    margin: 0;
    padding: 10px 50px 20px;
    overflow: hidden;
}

div.column div.podcasts{
    margin-top: 10px;
    float: left;
    height: 800px;
    text-align: center;
    width: 59%;
    background-color: #13131f;
    font-weight: 500;
    color: #6567a8;
}

div.column div.chart{
    margin-top: 10px;
    float: right;
    height: 800px;
    text-align: center;
    width: 39%;
    background-color: #13131f;
    font-weight: 500;
    color: #6567a8;
}

div.column:after{
    content: "";
    display: table;
    clear: both;
}

.footer {
    width: auto;
    bottom: 0;
    background-color: #13131f;
    font-weight: 500;
    color: #6567a8;
    margin: 0;
    padding-right: 15px;
}

@media (max-width: 600px) {
    .column-podcasts, .column-chart {
        width: 100%;
    }
}